:root {
    --bg-phone: 237 237 237;
    --bg-1: 255 255 255;
    --bg-2: 0 0 0;
    --bg-3: 255 255 255;
    --bg-4: 60 130 255;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;
    --glass-shadow-3: #fff;

    --glass-shadow: rgba(0, 0, 0, 0.1);
    --glass-highlight: rgba(255, 255, 255, 0.8);    
    --glass-caustic: rgba(255, 255, 255, 0.4);
    --glass-border: rgba(255, 255, 255, 0.4);

    --base-font-size: 13px;
    --scrollbar-track: #ecedee;
    --scrollbar-thumb: #b6bec6;
    --scrollbar-thumb-hover: #56999f;
}

[data-theme='dark'] {
    --bg-phone: 0 0 0;
    --bg-1: 0 0 0;
    --bg-2: 255 255 255;
    --bg-3: 14 14 14;
    --bg-4: 103 158 254;

    --glass-reflex-dark: 2;
    --glass-reflex-light: 0.2;
    --glass-shadow-3: #333;

    --glass-shadow: rgba(0, 0, 0, 0.6);
    --glass-highlight: rgba(255, 255, 255, 0.1);
    --glass-caustic: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.15);
    
    --base-font-size: 13px;
    --scrollbar-track: #2c2c2c;
    --scrollbar-thumb: #4a4a4a;
    --scrollbar-thumb-hover: #56999f;
}